*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --text-color: #406163;
  --background-color: rgb(178, 212, 204);
}

#app {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

body {
  margin: 0;
  color: var(--text-color);
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  background: linear-gradient(to bottom, rgb(178, 212, 204), transparent);
  display: grid;
  place-content: center;
  padding-bottom: 1em;
  margin-bottom: 0;
  z-index: 2;
}

.header__title {
  margin: 0.3em;
  font-size: 4em;
}

.header__searchField {
  display: flex;
  margin-bottom: 1em;
}

.header__searchField div {
  background: white;

  /* background: rgb(68, 196, 157); */
  padding: 1em;
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
}

.header__input {
  width: 15em;
  font-size: 1.4em;
  padding-left: 1em;
  border: none;
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
}

.header__input:focus {
  outline: 0.05em solid var(--background-color);
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2em;
  padding: 2em;
  padding-bottom: 8em;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background: var(--background-color);
  padding: 2em;
}
