*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --text-color: #406163;
}

html {
  font-size: 112.5%;
  color: var(--text-color);
}

.character-card {
  height: 50em;
  width: 30em;
  border-radius: 2em;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.2);
  position: relative;
}

.character-card__image {
  padding: 4em 0;
  width: 15em;
}

.character-card__info {
  display: grid;
}

.character-card__primaryStats {
  margin-top: 7.5em;
  display: none;
  grid-template-columns: 1fr 1fr 1fr;
}

.character-card__secondaryStats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: lightblue;
  border-radius: 0 0 2em 2em;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 2em 0;
}

.character-card__weight {
  border-left: 0.1em solid;
  border-right: 0.1em solid;
}

.character-card__typeText,
.character-card__weightText,
.character-card__heightText,
.character-card__attackText,
.character-card__hpText,
.character-card__defenseText .character-card__typeValue,
.character-card__weightValue,
.character-card__heightValue {
  font-size: 0.8em;
}

.character-card__name {
  text-transform: capitalize;
}
